:root {
  --main-bg-color: #2a2223;
  --text-color: #f8f9fa;
}

body {
  color: var(--text-color);
  background-color: var(--main-bg-color);
  overflow: hidden;
}

.toppar {
  display: flex;
  justify-content: space-between;
}
